*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(233, 76, 14);
    
}
.container{
    width: 45%;
    height: max-content;
    position: absolute;   
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
    overflow: hidden;
    border: 0px solid #ffff;
    border-radius:8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);

} 
.wrapper{
    width: 40%;
    display: flex;
    animation: slide 10s infinite;

}
@keyframes slide {
    0%{
        transform: translate(0%);
    }
    25%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(-200%);
    }
    75%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-400%);
    }
    
}
img{
    width: 100%;
    display: flex;

}
